---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <body>
    <section>
      <h1>15 Marts</h1>
    </section>
    <section>
      <h2>DIGITAL</h2>
      <h2>SKRALDE</h2>
      <h2>DAG</h2>
      <h2>2025</h2>
    </section>
    <section>
      Siden 2020 har 175 forskellige lande og territorier deltaget i Digital Cleanup Day. Næsten 1,2 millioner mennesker har slettet over 14,5 millioner GB data, hvilket har forhindret den årlige
      produktion af omkring 3.625 tons CO2
    </section>
    <section class="grid grid-cols-2">
      <div>
        <h3>Digital skraldedag</h3>
        <p>
          Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. Nu i sit femte år og organiseret af Let's Do It
          World har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online
          tilstedeværelse.
        </p>
      </div>
      <div class="">
        <img src="" alt="billede" />
      </div>
    </section>
  </body>
</MainLayout>
